
<style>

    .content {
        margin-top: 98px;
        text-align: center;
    }
    .content .heading__div {
        text-align: center;
    }

    .content .btnDwn {
        width: 240px;
        height: 52px;
        outline: none;
        border: none;
        background-color: blue;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        margin-top: 50px;
    }
</style>

<div class="content">
    <div class="heading__div">
        <h5>Ahora puedes obtener un reporte anual de manera rápida y eficaz. Has click en el botón inferior para descargarlo ahora. </h5>
    </div>
    <button class="btnDwn" asp->Descargar Reporte</button>
</div>


@section Scripts
{
    <script>
        $(document).ready(function() {
            $('.btnDwn').on('click',
                function() {
                    $.ajax({
                        cache: false,
                        type: "POST",
                        url: '@Url.Action("MakeReport")',
                        success: function(data) {
                            var linkSource = `data:application/vnd.ms-excel;base64,${data}`;
                            var downloadLink = document.createElement('a');
                            var filename = "Reporte.xlsx";

                            downloadLink.href = linkSource;
                            downloadLink.download = filename;
                            downloadLink.click();
                        },
                        error: function(err) {
                            console.log(err);
                        }
                    });
                });


            function Base64ToBytes(base64) {
                var s = window.atob(base64);
                var bytes = new Uint8Array(s.length);
                for (var i = 0; i < s.length; i++) {
                    bytes[i] = s.charCodeAt(i);
                }
                return bytes;
            };
        });
    </script>
}